.page {
  border: 2px dotted #cccccc;
  padding: 5px;
  position: relative;
  margin-top: 10px;
}

section{
  border: 2px dotted #cccccc;
  margin: 5px;
  padding: 5px;
}

.row{
  border: 2px dotted #cccccc;
  margin: 5px;
  padding: 10px;
  min-height: 100px;
  display: grid;
  position: relative;
  /* grid-template-columns:  33.333% 33.333% 33.333%; */
}

.column{
  border: 2px dotted #cccccc;

  position: relative;
}

.column:last-child .width-control{
  display: none;
}

.title{
  border: 2px dotted #cccccc;

  position: relative;
}
.width-control{
  opacity: 0;
  transition: .3s;
}
.column:hover .width-control{
  opacity: 1;
}


/* .row:hover aside{
  opacity: 1;
} */