.page {
  border: 1px dotted red;
  padding: 5px;
}

section{
  border: 1px dotted blue;
  margin: 5px;
  padding: 5px;
}

.row{
  border: 1px dotted green;
  margin: 5px;
  padding: 5px;
  display: grid;
  /* grid-template-columns:  33.333% 33.333% 33.333%; */
}

.column{
  border: 1px dotted violet;
  margin: 5px;
  padding: 5px;
}